#Data Types and Structures

1. What are data structures, and why are they important ?

  - Data structures are specific ways to organize and store data. They tells the relationships between data and how it can be accessed. Common examples include arrays, lists, dictionaries, trees, and graphs.

  - They enable quick data retrieval, manipulation, and storage.

  - They keep data structured and organized, making the code easier to read and maintain.

   - Data structures are utilized in various fields including databases, search engines, and social networks.

2. Explain the difference between mutable and
 immutable data types with examples
  - Mutable Data Types

 Mutable data types are those whose values can be changed after they are created. This means you can modify the object in-place without creating a new object.

 List, Sets, and Dictionary are some examples of mutable data types.
   - Immutable Data Types

   Immutable data types are those whose values cannot be changed after they are created. If you try to modify an immutable object, a new object is created with the modified value.

   Tupels, Strings, and Numbers are some examples of immutable datatypes.

3. What are the main differences between lists and tuples in Python ?
  - The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified.
  
    Tuples are more memory-efficient compared to lists.

    Tuples can't be changed after they're created, but lists can be modified

4. Describe how dictionaries store data

- A dictionary is a kind of data structure that stores items in key-value pairs. A key is a unique identifier for an item, and a value. Hashing  Keys are hashed to create a unique identifier, which allows for fast retrieval of values. Dictionaries provide a flexible and efficient way to store and retrieve data using unique keys

5. Why might you use a set instead of a list in Python ?
  
  Using a set instead of a list in Python can be advantageous in several scenarios due to the unique properties of sets like
 - Uniqueness: Sets automatically enforce uniqueness, preventing duplicate elements.

 - Set Operations: Built-in support for mathematical operations like union, intersection, and difference.

 - Unordered: Sets are unordered collections.

 - Memory Efficiency: More memory-efficient for large collections of unique items.

 - Data Integrity: Automatically ignores duplicates when adding elements.

 6. What is a string in Python, and how is it different from a list ?

  A string is a sequence of characters while list is a collection of elements that can be of any data type.
Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed

7. How do tuples ensure data integrity in Python

  Tuples ensure data integrity in Python through their immutability, fixed structure, hashability, semantic meaning, and by preventing accidental modifications, making them a reliable choice for representing constant data

8. What is a hash table, and how does it relate to dictionaries in Python

  Hash Table in Python is a data structure which stores data by using a pair of values and keys. Each data value is allocated an exclusive key that is created by using the hash functions.
- Python's dict type is implemented using a hash table
- By using hash table we can access data fast and manage it.

 9. Can lists contain different data types in Python ?

 Yes, lists in Python can contain different data types like

- Integers: 1, 2, 3

- Floats: 1.5, 2.7

- Strings: "hello" "world"

- Booleans: True, False

- Tuples: (1, 2)

10. Explain why strings are immutable in Python?

  Strings are immutable they cannot be changed after creation the reason behind strings are immutable because :

- Memory Efficiency – Python reuses identical strings
- Hashing – Immutable strings can be used as dictionary keys.
- Security & Thread Safety – Prevents accidental modifications.
- Performance – Optimized for speed by avoiding unnecessary changes

11. What advantages do dictionaries offer over lists for certain tasks ?

  Dictionaries have several advantages over lists for certain tasks like :
  - Dictionaries use hashing for quick access.
  - Retrieve values using meaningful keys, not indices.
  - Efficien No need to shift elements like in lists.
  - Better data representation ideal for structured data

12. Describe a scenario where using a tuple would be preferable over a list?

- Suppose you have a function that calculates the dimensions of a rectangle width and height based on its area and. You want to return both the width and height from the function we will use tuple to return values from a function is preferable because it ensures immutability, provides semantic clarity, simplifies the return process

13. How do sets handle duplicate values in Python?

- Sets automatically remove duplicate values when elements are added. They store only unique values using a hash table
- Hashing ensures each value appears only once

 14. How does the “in” keyword work differently for lists and dictionaries?

  The "in" keyword works differently for both lists and dictionaries
  
- **List** - The in keyword search through each item one by one checks a specific value .
-**Dictonary** - The in keyword only checks keys, not values.

15. Can you modify the elements of a tuple? Explain why or why not ?
-  No, you cannot modify the elements of a tuple in. This is because tuples are immutable data structures elements their cannot be changed, added, or removed after creation.

16. What is a nested dictionary, and give an example of its use case?
-  A nested dictionary is a dictionary that contains other dictionaries .This allows you to organize data in a structured way, making it easier to manage complex information.
- Use Case : storing contacts information

In [3]:
contacts = {
    "John": {
        "phone": "123-456-7890",
        "email": "john@example.com"
    },
    "Raj": {
        "phone": "987-654-3210",
        "email": "raj@example.com"
    }
}

17. Describe the time complexity of accessing elements in a dictionary ?

- The time complexity of accessing elements in a dictionary in Python is average O(1), which means that it takes constant time to retrieve a value based on its key
- In rare cases, if many keys hash to the same index the dictionary may need to handle these collisions. This can lead to a worst-case scenario of O(n) time complexity

18. In what situations are lists preferred over dictionaries ?
- There are several situation where lists are preferred over dictonaries such as :
   -  When you need to perform operations on each item
   -  When frequently adding or removing items (e.g, a shopping cart)
   - When the order of elements matters (e.g,a playlist)
   - When working with a collection of similar items (e.g, a list of integers)
   - When storing items without associated keys (e.g, a list of names).

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- Dictionaries in Python are considered unordered because they do not maintain the order of elements based on their insertion. Instead, they use a hash table to store keyvalue pairs, which allows for efficient access
- This affects data retrieval by ensuring that access is efficient by key but does not guarantee any specific order when iterating over the keys

 20. Explain the difference between a list and a dictionary in terms of data retrieval ?
  # - Data Structure:
- List: Ordered collection indexed by position
- Dictionary: Unordered collection of key-value pairs accessed by unique keys.
#- Access Method:
- List: Access elements using an index (e.g., my_list[2]).
- Dictionary: Access values using a key (e.g., my_dict['key1']).
#- Time Complexity:
- List: O(1) for index access; O(n) for searching by value.
- Dictionary: O(1) on average for key access.
#- Order:
- List: Maintains the order of elements.
- Dictionary: Conceptually unordered but maintains insertion order

# Practical Questions

1. Write a code to create a string with your name and print it ?

In [1]:
print("Bhaskar")

Bhaskar

2. Write a code to find the length of the string "Hello World" ?

In [ ]:
string = "Hello World"
length = len(string)
print(length)

 3. Write a code to slice the first 3 characters from the string "Python Programming

In [6]:
string = "Bhaskar"
sliced_string = string[:3]
print(sliced_string)

Bha

4. Write a code to convert the string "hello" to uppercase?

In [14]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [15]:
sen = "I like apple"
new_sen = sen.replace("apple", "orange")
print(new_sen)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it ?

In [39]:
numbers = [1, 2, 3, 4, 5]
print(numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [40]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [41]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [43]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [44]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [46]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?

In [49]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

In [50]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [51]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [53]:
fruits = ("banana", "orange","kiwi")
if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple!

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [56]:
# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("The set is:", my_set)

The set is: {'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

In [57]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?

In [58]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

In [59]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?

In [60]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

In [61]:
person = {
    "name": "Honey",
    "age": 21,
    "city": "Delhi"
}

print(person)

{'name': 'Honey', 'age': 21, 'city': 'Delhi'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

In [14]:
person = {'name': 'Maddy', 'age': 33}
person['country'] = 'USA'
print(person)

{'name': 'Maddy', 'age': 33, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

In [12]:
person = {'name': 'Honey', 'age': 21}
name_value = person.get('name')
print(name_value)

Honey

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

In [13]:
my_dict = {'name': 'Sam', 'age': 21, 'city': 'Banglore'}
del my_dict['age']
print( my_dict)

{'name': 'Sam', 'city': 'Banglore'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

In [11]:
person = {'name': 'Ankit', 'city': 'jabalpur'}

if 'city' in person:
    print("Key 'city' exists in the dictionary!")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary!

26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

In [4]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('samsung', 'realme', 'vivo')

my_dict = {'name': 'Naitik', 'age': 17, 'city': 'India'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('samsung', 'realme', 'vivo')
Dictionary: {'name': 'Naitik', 'age': 17, 'city': 'India'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result ?

In [5]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [20, 45, 50, 75, 92]

 28. Write a code to create a list with strings and print the element at the third index ?

In [7]:
my_list = ["ram", "raju", "golu", "sam", "ansh"]
print(my_list[3])

sam

29. Write a code to combine two dictionaries into one and print the result ?

In [8]:
dict1 = {'name': 'Honey', 'age': 21}
dict2 = {'city': 'Delhi', 'job': 'Engineer'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Honey', 'age': 21, 'city': 'Delhi', 'job': 'Engineer'}

30. Write a code to convert a list of strings into a set ?

In [10]:
my_list = ['1', '2', '3', '4', '5']

my_set = set(my_list)

print("The set is:", my_set)

The set is: {'2', '5', '4', '3', '1'}